<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <p>Current printJob status: {{ jobStatus }}</p> -->
    <p>Change print job status to: </p>

        <button *ngIf="jobStatus != 'Held'" type="button" class="btn btn-primary m-1" (click)="returnPrintJob('Held')" >Held</button>
        <button *ngIf="jobStatus != 'Completed'" type="button" class="btn btn-primary m-1" (click)="returnPrintJob('Completed')" >Completed</button>
        <button *ngIf="jobStatus != 'Queued'" type="button" class="btn btn-primary m-1" (click)="returnPrintJob('Queued')" >Queued</button>
        <button *ngIf="jobStatus != 'Cancelled'" type="button" class="btn btn-primary m-1" (click)="returnPrintJob('Cancelled')" >Cancelled</button>
        <button type="button" class="btn btn-primary m-1" (click)="decline()" >Exit</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>

