<div class="col-12">
    <!-- <h2>School of Computing</h2> -->
    <h5>School of Computing / Linux Labs:</h5>
    
    <br>
    <p>You may access the School of Computing remote distance learning linux labs from the following url:</p>


    <figure style="width:80%">
        <a href="https://online.cs.siu.edu" target="_blank">
            <!-- <img src="https://guacamole.apache.org/doc/gug/images/guacamole-home-screen.png" alt="Trulli" style="width:100%"> -->
            <img src="assets/guacamole-home-screen.png" alt="LinuxLabs" style="width:100%">
        </a>
    </figure>
    <figcaption>Access online linux labs from the following url: <a href="https://online.cs.siu.edu" target="_blank">https://online.cs.siu.edu/</a></figcaption>
</div>