<h6><a href="/">School of Computing</a> / Microsoft Dev Tools for Teaching</h6>

<div class="card" class="card-img-top img-thumbnail">

    <img src="./assets/cwps-printing.png" alt="Microsoft Dev Tools for Teaching" class="card-img-top img-thumbnail">
    <h4>SIU SalukiTech Printing</h4>
    <div class="card-body">
        <p>SalukiTech Campus-Wide Printing Services (CWPS) provides and maintains printers for use by students, as well
            as faculty and staff. These printers are conveniently located in more than 30 locations across
            campus—including public spaces and campus housing. You may print to any of the CWPS printers from any
            University-owned or personal device as long as you have access to the SIU eduroam network. You may send a
            print job from off campus if you have VPN access. No matter where you are working, you can queue your print
            job and then pick it up at any CWPS station on campus. And, don’t worry about privacy! CWPS printing
            requests are held in a virtual print queue (up to to hours) until you arrive at the print station and start
            the job. All CWPS printers accept Debit Dawg.</p>
    </div>
    <div class="card-footer">
        <p>Please visit the following link to request access to SIU's Campus-Wide Printing Services.</p>
        <a href="https://oit.siu.edu/salukitech/cwps/" target="_blank">https://oit.siu.edu/salukitech/cwps/</a>
    </div>

</div>