<h6><a href="/">School of Computing</a> / Docker Containers</h6>

<div class="card" class="card-img-top img-thumbnail">

    <img src="./assets/OCI-logo.svg" alt="Docker Containers" class="card-img-top img-thumbnail">
    <h4>Docker Containers</h4>
    <div class="card-body">
        <p>A future service center for managing the School of Computing Computer Science Degree Programs docker containers will reside here.</p>
    </div>
    <div class="card-footer">
        School of Computing - OpenContainerServiceManager v1.0.0
        <!-- <p>School of Computing - OpenContainerServiceManager v1.0.0</p> -->
    </div>

</div>