<div class="col-10" >
    <h6><a href="/">School of Computing</a> / Microsoft Dev Tools for Teaching</h6>
    <div class="card" class="card-img-top img-thumbnail">
        
        <img src="./assets/microsoft-grey.png" alt="Microsoft Dev Tools for Teaching"
            class="card-img-top img-thumbnail">

        <h3>Microsoft Dev Tools for Teaching</h3>
        
        <div class="card-body">
            <p>The School of Computing Computer Science Program is a member of the Microsoft Dev Tools for Teaching (formerly Microsoft Imagine, DreamSpark and Microsoft Developer Network Academic Alliance), which entitles us to install the Microsoft software products included in the MSDN Academic Alliance Subscription on our lab machines for instructional and non-commercial research use. CS faculty and CS students may install the software on their personal computers as well for teaching, study and research purpose at no cost. Each student is only allowed to obtain one copy and one key for each software.</p>
    
            <p>Microsoft Azure Dev Tools for Teaching or simply Azure Dev Tools for Teaching is a Microsoft program to provide students with Microsoft software design, Microsoft developer tools, Cloud Computing Access and learning resources. The program is available for university/college and K-12 students Azure for Student and Azure Dev Tools for teaching are available in more than 140 countries.</p>

            
        </div>
            
        <div class="card-footer">
            <p>Please visit the following link to access these computer science resources from Microsoft:
                <br><i>(Login with your @siu.edu email address and salukinet password)</i></p>
            
            <a href="https://aka.ms/devtoolsforteaching"
            target="_blank">https://aka.ms/devtoolsforteaching</a>
            <p></p>                      
        </div>

    </div>


</div>