<div class="col-12">
    <!-- <h2>School of Computing</h2> -->
    <h5>School of Computing / Windows Labs:</h5>
    
    <br>
    <p>You may access the School of Computing remote distance learning windows labs from the following url:</p>


    <figure style="width:80%">
        <a href="https://vdi.siu.edu" target="_blank">
            <!-- <img src="https://guacamole.apache.org/doc/gug/images/guacamole-home-screen.png" alt="Trulli" style="width:100%"> -->
            <img src="assets/horizon.png" alt="WindowsLabs" style="height: 472px;">
        </a>
    </figure>
    <figcaption>Access online windows labs from the following url: <a href="https://vdi.siu.edu" target="_blank">https://vdi.siu.edu/</a></figcaption>
</div>